<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
</head>
<body>
    <h1>Edit post ID: <span th:text="${post.id}"></span></h1>

    <form th:action="@{|/posts/${post.id}/edit|}" th:method="post" th:object="${post}">
        <label for="title">Title:</label><br>
        <input type="text" th:field="*{title}"><br>
        <label for="body">Body:</label><br>
        <textarea rows=10 cols=50 th:field="*{body}"></textarea><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>